

/* Start:/local/templates/rgtvktv/components/bitrix/news.list/popular_news_sidebar/style.css?1667380195150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */

/* кнопка вверх */

.btn-up {
	position: fixed;
	background-color: #979797;
	right: 50px;
	bottom: 30px;
	border-radius: 50%;
	cursor: pointer;
	width: 66px;
	height: 66px;
	z-index: 3;
	transition: 0.3s;
  }
  
  .btn-up::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
  
  @media screen and (max-width: 700px) {
	.btn-up {
	  right: 20px;
	  bottom: 20px;
	  width: 50px;
	  height: 50px;
	}
  
	.btn-up::before {
	  content: "";
	  position: absolute;
	  width: 20px;
	  height: 20px;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
	}
  }
  
  .btn-up_hide {
	visibility: hidden;
	opacity: 0;
  }
  
/* /local/templates/rgtvktv/components/bitrix/news.list/popular_news_sidebar/style.css?1667380195150 */
