

/* Start:/local/templates/rgtvktv/components/bitrix/news.list/main_slider/style.css?16684407941850*/
#gallery {
    padding: 30px 0px 20px;
}

.gallery_block {
    height: 470px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    position: relative;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-footer {
    height: auto !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100% !important;
    border-radius: 10px;
    object-fit: cover;
}

.swiper-pagination {
    bottom: 15px !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: #c4c4c4 !important;
    opacity: 1 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;;
}

.swiper-pagination-bullet-active {
    width: 10px !important;
    height: 10px !important;
    background: #43C7F0 !important;
}

.content-wrapper__link {
    text-align: left;
}

.element_container {
    height: 405px !important;
}

.element-container__footer {
    height: 369px !important;
}

.swiper-wrapper__footer {
    margin-left: -375px;
}

.swiper {
    border-radius: 10px !important;
}

.swiper-pagination_none {
    display: none;
}

.content-wrapper__cards-slider {
    background: #fff;
    margin-top: 30px;
    min-height: 290px !important;
    border-radius: 8px;
}

@media (max-width: 769px) {
    #gallery {
        width: auto;
    }

    .gallery_block {
        height: 200px;
    }

    .swiper-wrapper__footer {
        margin-left: 0px !important;
    }
}

/* End */


/* Start:/local/templates/rgtvktv/components/bitrix/news.list/main_page_news/style.css?1667380195150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/bitrix/components/bitrix/system.pagenavigation/templates/round/style.css?16684444314597*/
.bx-pagination {
    margin: 10px 0;
}

.bx-pagination .bx-pagination-container {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.bx-pagination .bx-pagination-container ul {
    padding: 0;
    margin: 0;
    width: auto;
    list-style: none;
    display: flex;
    width: 72%;
}

.bx-pagination .bx-pagination-container ul li {
    display: flex;
    margin: 0 2px 15px 2px;
}

.bx-pagination .bx-pagination-container ul li span {
    -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    -o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    background: none;
    /*padding: 0 8px;*/
    /*border-left: 2px solid #CFAF52;*/
    /*border-right: 2px solid #CFAF52;*/
    display: block;
    height: 32px;
    width: 30px;
    line-height: 32px;
    color: #444;
    font-size: 14px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bx-pagination .bx-pagination-container ul li a {
    text-decoration: none;
    display: block;
    border-radius: 16px;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    color: #444;
    vertical-align: middle;
}

.bx-pagination .bx-pagination-container ul li a:hover span {
    background: #CFAF52;
    color: #fff !important;
}

.bx-pagination .bx-pagination-container ul li.bx-active span {
    background: #CFAF52 !important;
    width: 30px;
    color: #fff;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
    background: none;
    /*border: 2px solid #eff0f1;*/
    /*line-height: 28px;*/
    padding: 0 8px;
    color: #CFAF52;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
    width: 68px;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span {
    width: 58px;
}

/*.bx-pagination-container ul li.bx-pag-next a span{*/
/*	border-left: 2px solid #CFAF52;*/
/*}*/
.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span {
    color: #CFAF52;
    background: none;
    /*border: 2px solid #eff0f1;*/
    /*line-height: 28px;*/
    padding: 0 8px;
}

/*.bx-pagination .bx-pagination-container ul li.bx-pag-prev span{*/
/*	border-right: 2px solid #CFAF52;*/
/*}*/
@media (max-width: 769px) {
    .bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
    .bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
    .bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
        background: none;
        /*border: 2px solid #eff0f1;*/
        /*line-height: 28px;*/
        padding: 0px;
        color: #444;
    }

    .bx-pagination .bx-pagination-container ul li.bx-pag-all span,
    .bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
    .bx-pagination .bx-pagination-container ul li.bx-pag-next span {
        color: #aab1b4;
        background: none;
        /*border: 2px solid #eff0f1;*/
        /*line-height: 28px;*/
        padding: 0px;
    }
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
    background: #CFAF52;
    border-color: #CFAF52;
    color: #fff;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span {
    background: #CFAF52 !important;
    height: auto;
}

/*color schemes*/
.bx-pagination.bx-green .bx-pagination-container ul li.bx-active span {
    background: #3bc915;
    color: #fff;
}

.bx-pagination.bx-yellow .bx-pagination-container ul li.bx-active span {
    background: #F9A91D;
    color: #fff;
}

.bx-pagination.bx-red .bx-pagination-container ul li.bx-active span {
    background: #CFAF52;
    color: #fff;
}

.bx-pagination.bx-blue .bx-pagination-container ul li.bx-active span {
    background: #CFAF52;
    color: #fff;
}

/* End */


/* Start:/local/templates/rgtvktv/components/bitrix/news.list/main_page_show_nationality/style.css?1667380195150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/rgtvktv/components/bitrix/news.list/main_partner/style.css?1689253164150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */


/* Start:/local/templates/rgtvktv/components/bitrix/news.list/useful_links/style.css?1667380195150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */

/* кнопка вверх */

.btn-up {
    position: fixed;
    background-color: #979797;
    right: 50px;
    bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
    width: 66px;
    height: 66px;
    z-index: 3;
    transition: 0.3s;
  }
  
  .btn-up::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @media screen and (max-width: 700px) {
    .btn-up {
      left: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px;
    }
  
    .btn-up::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
  
  .btn-up_hide {
    visibility: hidden;
    opacity: 0;
  }
  
/* /local/templates/rgtvktv/components/bitrix/news.list/main_slider/style.css?16684407941850 */
/* /local/templates/rgtvktv/components/bitrix/news.list/main_page_news/style.css?1667380195150 */
/* /bitrix/components/bitrix/system.pagenavigation/templates/round/style.css?16684444314597 */
/* /local/templates/rgtvktv/components/bitrix/news.list/main_page_show_nationality/style.css?1667380195150 */
/* /local/templates/rgtvktv/components/bitrix/news.list/main_partner/style.css?1689253164150 */
/* /local/templates/rgtvktv/components/bitrix/news.list/useful_links/style.css?1667380195150 */
